body {
    background: #2C303C;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width:  10px;

}

::-webkit-scrollbar-thumb {
    background: black;
}

::-webkit-scrollbar-track {
    background:transparent;
}
/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
    position: absolute;
    display: none;
}

.tabset .tab-panel {
    display: none;

}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
}

/*
 Styling
*/

.tabset > label {
    border-radius: 5px;
    transition: .3s;
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
}

.tabset {
    border: 1px solid transparent;
    margin-top: 2em;
}

.tabset > label::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 10px;
    width: 80%;
    height: 4px;
    background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
    color: #06c;

}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
    background: #06c;

}

.tabset > input:checked + label {
    border: 1px solid #06C;
    color: #06C;
}

.tab-panel {
    padding: 30px 0;
    color: #fff;
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
    box-sizing: border-box;
}


/*
 Social media
*/
.socialMedia {
    display: flex;
    flex-flow: column;

}

.socialMedia a {
    color: white;
}

.socialMedia a:hover {
    color: #06c;
    text-decoration: #06c;
}

.facebook,
.instagram,
.telegram,
.whatsapp,
.email,
.phone {
    transition: .3s;

}

.facebook {
    fill: #4267B2;

}

.whatsapp {
    fill: #25D366;
}

.instagram {
    fill: #e4405f;
}

.telegram {
    fill: #5682A3;
}

.email {
    fill: #005B8D;
}

.phone {
    fill: #148C14;
}

.html5{
    fill: #E44D26;
}

.css3{
    fill:#1B73BA ;
}
.svg{
    fill: #fff;
}

.cloudDownload{
    fill: #2EC6F8;
}

.contacts ,.skills{
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0 0 12px 0;
    padding: 10px;
    transition: .3s;
    border: 1px solid #fff;
    border-radius: 5px;
}

.contacts:hover,
.facebook:hover,
.instagram:hover,
.telegram:hover,
.whatsapp:hover,
.email:hover,
.phone:hover {
    border-color: #06c;
}

.contacts h6,.skills h6 {
    margin: 0 0 0 10px;
}



