body {
    background: #2C303C;
    font-family: Montserrat,sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;

}

/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
}

/*
 Styling
*/

.tabset > label {
    border-radius: 5px;
    transition: .3s;
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
}

.tabset > label::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 10px;
    width: 80%;
    height: 4px;
    background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
    color: #06c;


}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
    background: #06c;

}

.tabset > input:checked + label {
    border: 1px solid #fff;


}

.tab-panel {
    padding: 30px 0;
    color: #fff;
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
    box-sizing: border-box;
}


.tabset {
    max-width: 65em;
}

/*
 Social media
*/
.socialMedia {
    display: flex;
    flex-flow: column;

}

.socialMedia a {
    color: white;
}

.socialMedia a:hover {
    color: #06c;
    text-decoration: #06c;
}


.facebook,
.instagram,
.telegram,
.whatsapp,
.email,
.phone {
    transition: .3s;


}

.facebook {
    fill: #4267B2;

}

.whatsapp {
    fill: #25D366;
}

.instagram {
    fill: #e4405f;
}

.telegram {
    fill: #5682A3;
}

.email {
    fill: #005B8D;
}

.phone {
    fill: #148C14;
}

.contacts {
    overflow: scroll;
    display: flex;
    align-items: center;
    align-content: center;
    margin: 12px 0;
    padding: 10px;
    transition: .3s;
    border: 1px solid #fff;
    border-radius: 5px;
}

.contacts:hover, .facebook:hover, .instagram:hover, .telegram:hover, .whatsapp:hover, .email:hover, .phone:hover {

    border-color: #06c;
}

.contacts h6 {
    margin: 0  0 0 10px;
}
